* {
  box-sizing: border-box;
}

@font-face {
  font-family: "MunroSmall";
  src: url("/fonts/MunroSmall.ttf") format('truetype');
}

@font-face {
  font-family: "Exo";
  src: url("/fonts/Exo2-Bold.ttf") format('truetype');
}

html {
  background-color: #bbb;
}

.header {
  font-family: "Exo";
  font-size: 2.0em;
  text-align: center;
}

h1, .title {
  font-family: "Exo";
  font-size: 1.2em;
  padding: 3px;
}

.column {
  float: left;
  padding: 5px;
}

.left {
  width: 20%;
  height: 100vh;
  background-color: #aaa;
  border-radius: 5px;
  font-family: "MunroSmall";
  font-size: 1.4em;
}
#display > div:last-child {
  position: absolute;
  bottom: 0;
}

.right {
  width: 80%;
  height: 100vh;
  background-color: #bbb;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.gold, .chaos {
  vertical-align: middle;
}
.boss>img, .nonboss>img, .decorations>img {
  height: 64px;
}

.arcana>img, .relics>img {
  height: 48px;
}

.relic-pic {
  padding: 10px;
  text-align: center;
}

.relic-pic > img {
  padding: .25em;
  border: 1px #ccc solid;
  border-radius: 2px;
  border-width: 4px;
}

.relic-name {
  padding: 6px;
}

.relic-desc {
  padding: 6px;
}

.relic-det {
  padding: 6px;
}
.relic-price {
  padding: 6px;
}
.relic-unlockprice {
  padding: 3px;
}
.relic-shopprice {
  padding: 3px;
}
.relic-id {
  padding: 0px 0px 5px 0px;
}

.spell-name {
  padding: 10px;
}

.spell-desc {
  padding: 10px;
}

.spell-emp {
  padding: 10px;
}

.spell-id {
  padding: 0px 0px 5px 0px;
}
